body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-light);
    background-color: rgb(85, 85, 85);
  }
  
  a,
  button,
  input,
  textarea,
  svg * {
    transition-duration: var(--transition-duration);
    font-family: inherit;
  }
  

  
  h1, h2, h3, h4 {
    font-weight: 600;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .main {
    width: 90vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }